<div class="catalogue_main">
    <h1>
      Explora todos los productos
    </h1>
    <div class="catalogue">

        <div class="catalogue_container">
            {{#each products}}
                <div class="product-card">
                    <div class="product-image">
                    <img src="../../static/img/example.jpg" class="example_image">
                    </div>
                    
                    <div class="product-details">
                      <p>{{this.category}}</p>
                      <p class="product-title">{{this.title}}</p>
                      <div class="price product-price">${{this.price}}</div>
                      <button onclick="putIntoCart('{{this._id}}')" class="add_button add{{this._id}} product-button" style="background-color: #FFBE0B;">Añadir al carrito</button>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
  <div class="change_page">

    <div>
      <p>Página {{page}} de {{totalPages}}</p>
    </div>

    <div class="page_arrows">
      {{#if hasPrevPage}}
        <a class="prev_arrow" style='text-decoration: none' href='http://localhost:8080/views/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}'> ⬅️ </a>
      {{/if}}
      {{#if hasNextPage}}
        <a class="next_arrow" style='text-decoration: none' href='http://localhost:8080/views/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}'> ➡️</a>
      {{/if}}
    </div>

  </div>

</div>

<script src="../../static/js/catalogue.js"></script>